@model ATM.AppServices.BankAccountSetup.Dtos.CreateBankAccountDto
@{
    Layout = null;
    ViewData["Title"] = "Create Bank Account";
}

<div class="modal-header">
    <h5 class="modal-title" id="createBankAccount">@ViewData["Title"]</h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <form asp-action="Create" asp-controller="BankAccount" method="post">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <div class="row">
                <div class="col-4 col-md-4 col-sm-12">
                    <label asp-for="CustomerGuid" class="control-label"></label>
                </div>
                <div class="col-8 col-md-8 col-sm-12">
                    <select asp-for="CustomerGuid" class="select2 form-control" asp-items="@ViewBag.Customers" style="width: 100%">
                        <option value="">Select customer type</option>
                    </select>
                    <span asp-validation-for="CustomerGuid" class="text-danger"></span>
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="row">
                <div class="col-4 col-md-4 col-sm-12">
                    <label asp-for="AccountNumber" class="control-label"></label>
                </div>
                <div class="col-8 col-md-8 col-sm-12">
                    <input asp-for="AccountNumber" class="form-control" />
                    <span asp-validation-for="AccountNumber" class="text-danger"></span>
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="row">
                <div class="col-4 col-md-4 col-sm-12">
                    <label asp-for="AccountType" class="control-label"></label>
                </div>
                <div class="col-8 col-md-8 col-sm-12">
                    <select asp-for="AccountType" class="select2 form-control" asp-items="@ViewBag.AccountTypes" style="width: 100%">
                        <option value="">Select account type</option>
                    </select>
                    <span asp-validation-for="AccountType" class="text-danger"></span>
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="row">
                <div class="col-4 col-md-4 col-sm-12">
                    <label asp-for="Balance" class="control-label"></label>
                </div>
                <div class="col-8 col-md-8 col-sm-12">
                    <input asp-for="Balance" class="form-control" />
                    <span asp-validation-for="Balance" class="text-danger"></span>
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="row">
                <div class="col-4 col-md-4 col-sm-12">
                    <label asp-for="Remark" class="control-label"></label>
                </div>
                <div class="col-8 col-md-8 col-sm-12">
                    <textarea asp-for="Remark" class="form-control" rows="3"></textarea>
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="row">
                <div class="col-12 col-md-12 col-sm-12 text-right">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <input type="submit" value="Create" class="btn btn-primary" />
                </div>
            </div>
        </div>
    </form>
</div>

<script>
    $('.select2').select2({
        dropdownParent: $('#createBankAccount'),
        placeholder: 'Select an option',
        allowClear: true,
        width: 'resolve'
    });
</script>