@model List<ATM.AppServices.BalanceHistorySetup.Dtos.BalanceHistoryDto>
@using ATM.Helpers

@{
    ViewData["Title"] = "History(s)";
    string backUrl = (ViewBag.BackUrl ?? Url.Action("Index", "Home")) as string;
}

<div class="card" style="margin-top: 15px;">
    <div class="card-body">
        <div class="row" style="margin-bottom: 15px;">
            <div class="col-2">
                <a href="@backUrl" class="btn btn-primary">Back</a>
            </div>
            <div class="col-10">
                <div class="text-center"> <h3>@ViewData["Title"]</h3></div>
            </div>
        </div>

        @await Html.PartialAsync("_BalanceHistory", Model)
    </div>
</div>

@section Scripts {
    <script type="text/javascript">

        $('#balanceHistoryTable').DataTable({
            order: [[0, 'asc']]
        });
    </script>
}